<h2>Transferring of electrons</h2>
<p>
Atoms may transfer electrons from one atom to another.

Valence: the number of electrons that are transferred.
  <div id="valence" class="clearfix">
    <%= atomic_notation "O", 8, 16 %>
    <div>
      Electron distribution:
      <ul>
        <li>Energy level 1: 2</li>
        <li>Energy level 2: 6</li>
      </ul>
    </div>
  </div>
  
</p>

<p>
Atoms like to have the outer most energy level complete. To do this the atom can
take in electrons from another atom, give away electrons to another atom, or
share electrons with another atom.
</p>

<p>
Oxygen has 6 electrons in the outer energy level; it needs two electrons to
complete the outer energy level. Two additional electrons added to the outer
energy level will put the maximum number of electrons in the outer energy level.
We say that it is now complete.
</p>

<p>
This means that the atom will have two additional negatives. The number of
protons and electrons are now not equal. There will be 8 <%= proton %> and 10 <%= electron %>. This atom is now an ion.
</p>

  ion -  an atom that has an electrical charge.

<p>
10 <%= electron %> + 8 <%= proton %> => 2 <%= electron %><br>
We write ions like this: O<sup>-2</sup><br>
The atom has 2 electrons too many.<br>

Atoms try to complete their outer energy level.
</p>

