<h1>Electricity</h1>

<div class="foreward">
  These notes and lesson plans are designed to be used for grades 5 – 8.
</div>

<h2>What is electricity?</h2>
<p>Electricity is the flow of electrons.</p>

<p>You might ask, what are electrons and where do they come from?  To answer this,
let's take a look at an atom. The atom is the smallest unit of an element.</p>
                                         
<div class="illustration">
  <%= image_tag "/assets/electricity/electron-cloud.png" %>
  <div class="description">Electrons arranged in orbitals (circles) around a
nucleus of protons and neutrons.
  </div>
</div>

<p>Atoms are made up of protons, neutrons, and electrons. The protons and neutrons
are found in the nucleus of the atom. The electrons are in energy levels that
are like orbits around the nucleus. The electrons that are in the outer energy
levels are not held tightly to the atom. These electrons can be knocked off the
atom.</p>

<div class="illustration">
  <a href="http://en.wikipedia.org/wiki/File:HydrogenOrbitalsN6L0M0.png">
    <%= image_tag "/assets/electricity/HydrogenOrbitalsN6L0M0.png" %>
  </a>
  <div class="description">
    This is what an atom actually looks like -- all of the electrons move so fast
  that you could never pick out any single electron.
  </div>
</div>

<p>To make electricity, you can drag your feet across the living room carpet or get
up from the couch. Electrons are knocked off the carpet or the couch and stay on
you. When you touch someone or touch a metal object the electrons jump off you
and this gives you a shock. What you experienced is static electricity.</p>

<p>Static electricity is not the electricity that flows through the wires in our
homes. To make the electricity that is used in the wiring of our homes we need a
generator. To understand how a generator works, you can try this little
activity.</p>

<p>Wrap some bell wire (you can buy it at Radio Shack, or your local hardware
store)  around a nail. Remove about 1 inch of insulation from the ends of the
wire. Connect the bare ends of the wire to a flashlight battery using some tape.
Now try picking up some paperclips with the nail. The nail has become
magnetized. You have made an electromagnet.</p>

<div class="illustration">
  <%= image_tag "/assets/electricity/electromagnet.png" %>                             
</div>
                             
<p>Take a cardboard tube, like the kind that you get from a roll of paper towels,
cut the tube so that its about 4 inches long. Take some bell wire and wrap it
around the tube. Try to get at least 10 – 12 coils.</p>

<div class="illustration">
  <%= image_tag "/assets/electricity/galvanometer.png" %>                             
</div>

<p>Take a magnetic compass and wrap some bell wire around it. At least 6 – 8 coils. 
If electricity passes through the coil of wire, it will produce a magnetic field
(like it did with the nail). This cause the needle of the compass to move. The
device that you made is called a galvanometer. The galvanometer will detect an
electric current.</p>

<p>Next take the ends of wires coming from the coils around the cardboard tube and
connect them to the wires from the galvanometer. After making the connection,
your device should look like the above drawing.</p>

<p>Take a bar magnet and insert it into the cardboard tube in a back and forth
motion. As you do this watch the compass needle. The needle should be moving
back and forth. The needle of the compass is a magnet. As you move the bar
magnet, electrons start to move in the wire. An electric current is produced.
The electric current going through the coil on the compass produces a magnetic
field as it did with the nail. This causes the compass needle to move.</p>


<p>This is a simple method to made an electric current. But this is not exactly the
way the electric company does it. If you take a small toy hobby motor and
connect it to a battery, the motor will run. But if you take the same hobby
motor, and connect it to a galvanometer, and turn the shaft of the motor with
your hand, the needle of the compass moves. The motor now makes an electric
current. The motor is now a generator.</p>
                             
<div class="illustration">
  <%= image_tag "/assets/electricity/motor.png" %>                             
</div>

<p>At the power plant, electric is made with a large generator that has a set of
fan blades, called the turbine, attached to the shaft. The turbine is made to
turn by having steam blow against it. A wind generator has wind blow against a
propeller. At a hydroelectric plant, water flows against the turbine blades.</p>

<h2>Conductors and Insulators</h2>

<p>Once the electricity is produced, it must travel to your house. We use wires to
do this. These wires are conductors. A conductor is something that lets
electricity  pass through it. Good conductors are metals. The best metal
conductor is gold but it's too expensive to use in house wiring. Copper and
aluminum are good conductors and cheap enough to use in normal wiring of
houses.</p>

<p>Insulators will not let electricity pass through it. Good insulators are glass,
rubber, wood, and plastic to mention a few. We usually cover the conductor with
an insulator so when we pick up the conductor we don't get shocked.</p>

<p>You can try a little experiment to see what objects are conductors and what
objects are insulators.</p>

<div class="illustration">
  <%= image_tag "/assets/electricity/insulators.png" %>
</div>
                           
<p>Take a series objects like: paperclip, paper, penny, dime, styrofoam cup, tennis
ball, knife, coffee cup, shoe lace, etc.; place the object between the two wires
and have the wires touch the object. If the light bulb lights up, the object is
a conductor. If it doesn't light up, it is an insulator.</p>

<p>The electricity travels on the surface of the metal wire. The electrons do not
travel through the center of the wire. As the electricity travels over the wire,
there is friction(resistance) between the electrons and the wire. Each type of
wire has a different amount of friction. This is why some wires are better then
others. Some have less friction which makes them better conductors.</p>

<p>If you have a wire that must travel a long distance, the amount of electricity
entering the wire is not the same amount that reaches the other end. Some of the
electricity is lost due to friction.</p>

<p>To get more electricity reaching the end of our long wire, we could use a larger
diameter wire. The larger wire will carry more electricity. But this is not
practical. The wire would be too heavy and costly. By using a larger diameter
wire, we increased the surface area of the wire. By using a bundle of several
smaller pieces, strands, of wire,  we increase the surface area of the wire.
It's kind of like doing away with the middle of the large wire.</p>
      
<div class="illustration">
  <%= image_tag "/assets/electricity/wire-types.png" %>
</div>
                   
<h2>Circuits</h2>

<h3>Series circuits</h3>
                        
<div class="illustration">
  <%= image_tag "/assets/electricity/series-circuit.png" %>
</div>

<p>In the series circuit the electric current goes through the first light then
goes through the second light before returning to the battery. The problem with
this is that if one light goes out it act like a switch, the other light also
goes out.</p>

<div class="illustration">
  <%= image_tag "/assets/electricity/series-battery.png" %>
</div>

<h3>Parallel Circuit</h3>

<div class="illustration">
  <%= image_tag "/assets/electricity/parallel-circuit.png" %>
</div>

<p>In a parallel circuit, the electricity splits up with some of it going to each
of the lights. Now if one light goes out the other remains on. This is the type
of circuit that we use in wiring our homes.</p>

<div class="illustration">
  <%= image_tag "/assets/electricity/parallel-battery.png" %>
</div>

<h2>Wire</h2>

<p>Copper wire is getting expensive to use in some lab activities. A cheaper method
is to make your own wire using masking tape and aluminum foil.</p>

<div class="illustration">
  <%= image_tag "/assets/electricity/aluminum-wire.png" %>
</div>

<p>Cut along the edge of the masking tape. The masking tape is the insulator and
the foil is the conductor. After cutting the strips of wire, fold each strip
long ways with the aluminum foil on the inside. If you want to connect two
strips of wire, foil over the edge of one strip so the aluminum is facing the
top of the wire. This end can be slipped into the other wire. Use tape to hold
in place. Remember when connecting two wires; metal to metal.</p>

<h2>Switches</h2>

<div class="illustration">
  <%= image_tag "/assets/electricity/switches.png" %>
</div>
     
<div class="illustration">
  <%= image_tag "/assets/electricity/light-switch.png" %>
</div>

<h2>Wire A House</h2>

<p>A nice activity to put a lot of this information to use is to wire a shoe box
house.</p>

<div class="illustration">
  <%= image_tag "/assets/electricity/wired-house.png" %>
</div>

<p>Have students bring in a shoe box or small box of similar size. Run two wire
strips across the top of the box; use a pencil and punch two holes in the top of
the box – this is where the lights will go. Connect one of the light wires to
the wire strips on the top of the box. Connect the other light wire to a switch
that you mounted to the side if the box. Once the light are connected, connect
the battery to the wires on top of the box.</p>

<p>
(I like to use lights that you can buy at Hobby Lobby that are battery
operated. They come in a string of 10 lights. Just cut them apart before using.
Sometimes I can find similar lights at the Dollar Tree store)</p>

<h2>Make A Motor</h2>

<div class="illustration">
  <%= image_tag "/assets/electricity/homemade-motor.png" %>
</div>

<p>Materials needed: C or D cell, circular magnet, 2 small paperclips, 32 inches of
magnet wire, small piece of sandpaper, and some masking tape.</p>

<h3>Procedure</h3>

<p>Take the magnet wire and wrap it around the battery; Slide it off the battery;
leave a straight extension on either end that acts as an axle.</p>

<ol>
  <li>Sand the insulation off the part of the wire used as the axle.</li>
  <li>Unbend the paperclips so they have a straight side and an eyelet at the top.</li>
  <li>Tape the paperclips to the ends of the battery with the eyelet at the top.</li>
  <li>Attach the magnet to the battery as seen in the drawing.</li>
  <li>Slip the axles through the eyelets</li>
  <li>Give the coil a small spin. The coil should begin to spin on its own. You may</li>
  <li>have to trouble shoot  the motor. Common problems: insulation not thoroughly</li>
  <li>removed, paperclips not making good contact with the battery, and the distance</li>
  <li>between the coil and the magnet needs to be adjusted.</li>
</ol>

<iframe width="420" height="315" frameborder="0"
        src="http://www.youtube.com/embed/j8tf6CW4nVw" allowfullscreen></iframe>

<h2>AC / DC</h2>

<p>AC means Alternating Current. When we did the demonstration by moving the bar
magnet in and out of the coil of wire, the compass needle moved back and forth.
This back and forth motion is alternating current. The motion changes 60 time in
one second for the electricity made in the United States. We say that it has 60
cycles per second.</p>

<p>DC means Direct Current. This is the type of electric current that we get from a
battery. The electric flows from the negative to the positive poles. This was
the first type of electric that was used in houses. One problem with DC current
is that it will not flow long distances. So we had power stations almost on
every city block.</p>

<h2>Make a Battery</h2>

<ol>     
  <li>
    <span>Make some circles out of Aluminum foil and Paper.</span>
    <%= image_tag "/assets/electricity/homemade-battery-step1.png" %>
  </li>
     
  <li>
    <span>Tape a wire to a penny. Tape a second wire to a foil circle.</span>
    <%= image_tag "/assets/electricity/homemade-battery-step2.png" %>
  </li>
             
  <li>
    <span>Dip the paper circles in warm salt water.</span>
    <%= image_tag "/assets/electricity/homemade-battery-step3.png" %>
  </li>
                
  <li>
    <span>Place the foil circle with the wire attached  on the table. Place a wet
    paper circle on top of the foil circle. Place a penny on top of the wet
    paper circle.</span>
    <%= image_tag "/assets/electricity/homemade-battery-step4.png" %>
                
    <span>Build up more layers of foil, wet paper, and pennies. The penny with the
    wire attached goes on the top. You can wrap the battery with making tape to
    hold it together.</span>
  </li>
  
  <li>
    <span>Attach one wire to the galvanometer or to base of the plug of earphones.
    Scrape one wire on the tip of the plug. You hear crackles in the ear phones.
    This is due to the electricity that the battery is creating.</span>

    <%= image_tag "/assets/electricity/homemade-battery-step5.png" %>
  </li>
</ol>
               
<h2>Fruit Battery</h2>
<p>You can make batteries out of a variety of fruit but citrus fruits work
the best ( because of the amount of acid in this fruit ).</p>

<div class="illustration">
  <%= image_tag "/assets/electricity/fruit-battery.png" %>
</div>
                     
<p>You must use two different kinds of metals. Try various metals to see which
combination works the best. The metals can be nails, strips of metal, wire, or
paper fasteners. Make sure that the ends of the metal does not have any
insulation on it.</p>

<h2> Thermocouple</h2>
<p>Electricity can be made by twisting two strands of different types of wire
together and then heating the twisted area.</p>

<div class="illustration">
  <%= image_tag "/assets/electricity/thermocouple.png" %>
</div>
                                  
<p>You can hook the ends of the wire to a set of ear phones like you did for the
penny battery or to your galvanometer.</p>
