<h2>Make a Battery</h2>

<ol>     
  <li>
    <span>Make some circles out of Aluminum foil and Paper.</span>
    <%= image_tag "/assets/electricity/homemade-battery-step1.png" %>
  </li>
     
  <li>
    <span>Tape a wire to a penny. Tape a second wire to a foil circle.</span>
    <%= image_tag "/assets/electricity/homemade-battery-step2.png" %>
  </li>
             
  <li>
    <span>Dip the paper circles in warm salt water.</span>
    <%= image_tag "/assets/electricity/homemade-battery-step3.png" %>
  </li>
                
  <li>
    <span>Place the foil circle with the wire attached  on the table. Place a wet
    paper circle on top of the foil circle. Place a penny on top of the wet
    paper circle.</span>
    <%= image_tag "/assets/electricity/homemade-battery-step4.png" %>
                
    <span>Build up more layers of foil, wet paper, and pennies. The penny with the
    wire attached goes on the top. You can wrap the battery with making tape to
    hold it together.</span>
  </li>
  
  <li>
    <span>Attach one wire to the galvanometer or to base of the plug of earphones.
    Scrape one wire on the tip of the plug. You hear crackles in the ear phones.
    This is due to the electricity that the battery is creating.</span>

    <%= image_tag "/assets/electricity/homemade-battery-step5.png" %>
  </li>
</ol>
