%h2 What is electricity?
%p Electricity is the flow of electrons.
%p
  You might ask, what are electrons and where do they come from?  To answer this,
  let's take a look at an atom. The atom is the smallest unit of an element.
.illustration
  = image_tag "/assets/electricity/electron-cloud.png"
  .description
    Electrons arranged in orbitals (circles) around a
    nucleus of protons and neutrons.
%p
  Atoms are made up of protons, neutrons, and electrons. The protons and neutrons
  are found in the nucleus of the atom. The electrons are in energy levels that
  are like orbits around the nucleus. The further an electron is from the nucleus,
  the easier it is to knock that electron off of the atom.
.illustration
  %a{:href => "http://en.wikipedia.org/wiki/File:HydrogenOrbitalsN6L0M0.png"}
    = image_tag "/assets/electricity/HydrogenOrbitalsN6L0M0.png"
  .description
    This is what an atom actually looks like -- all of the electrons move so fast
    that you could never pick out any single electron.
%p
  To make electricity, you can drag your feet across the living room carpet or get
  up from the couch. Electrons are knocked off the carpet or the couch and stay on
  you. When you touch someone or touch a metal object, the electrons jump off you
  and this gives you a shock. This is an example of static electricity.
%p
  Static electricity is not the same electricity that flows through the wires in our
  homes. To make the electricity that is used in the wiring of our homes we need a
  generator. To understand how a generator works, you can try this little
  activity:
%p
  Wrap some bell wire (you can buy it at Radio Shack, or your local hardware
  store) around a nail. Remove about one inch of insulation from the ends of the
  wire. Connect the bare ends of the wire to a flashlight battery using some tape.
  Now try picking up some paperclips with the nail. The nail has become
  magnetized. You have made an electromagnet.
.illustration
  = image_tag "/assets/electricity/electromagnet.png"
  = youtube_iframe('lpYNCAI0hrY')
%p
  Take a cardboard tube, like the kind that you get from a roll of paper towels,
  cut the tube so that its about four inches long. Take some bell wire and wrap it
  around the tube. Try to get at least 10 – 12 coils.
.illustration
  = image_tag "/assets/electricity/galvanometer.png"
%p
  Take a magnetic compass and wrap some bell wire around it. At least 6 – 8 coils.
  If electricity passes through the coil of wire, it will produce a magnetic field
  (like it did with the nail). This cause the needle of the compass to move. The
  device that you made is called a galvanometer. The galvanometer will detect an
  electric current.
.illustration
  = youtube_iframe('xMqbZNJO_ws')
  %div Test your galvanometer with a battery -- a known good electricity source
%p
  Next take the ends of wires coming from the coils around the cardboard tube and
  connect them to the wires from the galvanometer. After making the connection,
  your device should look like the above drawing.
%p
  Take a bar magnet and insert it into the cardboard tube in a back and forth
  motion. As you do this watch the compass needle; the needle should be moving
  back and forth. The needle of the compass is a magnet. As you move the bar
  magnet, electrons start to move in the wire. An electric current is produced.
  The electric current going through the coil on the compass produces a magnetic
  field as it did with the nail. This causes the compass needle to move.
%p
  This is a simple method to make an electric current. But this is not exactly the
  way the electric company does it. If you take a small toy hobby motor and
  connect it to a battery, the motor will run. But if you take the same hobby
  motor, connect it to a galvanometer and turn the shaft of the motor with
  your hand, the needle of the compass moves -- the motor now makes an electric
  current. The motor is now a generator. Hybrid cars use this technique to store
  energy when the car is braking.
.illustration
  = image_tag "/assets/electricity/motor.png"
%p
  At the power plant, electricity is made with a large generator that has a set of
  fan blades (called the turbine) attached to the shaft. The turbine is made to
  turn by having steam blow against it. A wind generator has wind blow against a
  propeller. At a hydroelectric plant, water flows against the turbine blades.
