<h1>Electricity</h1>

<div class="foreward">
  These notes and lesson plans are designed to be used for grades 5 – 8.
</div>

<%= render "lesson/electricity/what_is_electricity" %>
<%= render "lesson/electricity/conductors_and_insulators" %>
<%= render "lesson/electricity/circuits" %>
<%= render "lesson/electricity/wire" %>
<%= render "lesson/electricity/switches" %>
<%= render "lesson/electricity/wire_a_house" %>
<%= render "lesson/electricity/make_a_motor" %>
<%= render "lesson/electricity/ac_dc" %>
<%= render "lesson/electricity/make_a_battery" %>
<%= render "lesson/electricity/fruit_battery" %>
<%= render "lesson/electricity/thermocouple" %>

