%h2 Storms




%p
  The earth is surrounded by a hugh mass of gases called the atmosphere. It extends outward for approximately 100,000 miles; it consists of gases that cannot be seen; gases have volume and weight. These gases are held in place by the earth’s gravity.

%p
  In 1752 it was found that air contained CO2, and within the next 20 years Nitrogen and oxygen were also found.

%p
  Composition of the atmosphere:
  %ul
    %li Nitrogen           78%
    %li Oxygen             21%
    %li Carbon Dioxide    .03%
    %li Argon             .93%

%p
  (Joseph Priestly discovered Oxygen.)

%p
  Water vapor is also found in the atmosphere; it depends on temperature; varies from 0 to 4%. Also part of the atmosphere are solid and liquid impurities called pollutants. Solid pollutants are called Particulate Matter.


%h2 Structure of the Atmosphere

.illustration
  = image_tag "/assets/weather_atmosphere/structure-of-the-atmosphere.png"

                

%p
  Troposphere:
  %ul
    %li extends upward about 7 miles.
    %li contains 75% of gases in the atmosphere
    %li all weather occurs here
    %li as we go higher the temp. decreases at a rate of 3.5°F / 1000feet or 6.5 deg. F/1000 meters. This is known as the Normal Lapse Rate.

%p
  Stratosphere:
  %ul
    %li about 43 miles thick
    %li calm air  -- no storms
    %li free from dust &amp; water vapor
    %li found here is the Jet Stream

%p
  Mesosphere:
  %ul 
    %li contains ozone (O3)
    %li blocks out ultraviolet light from the sun                                                                   
    %li a small amount of UV light gets through and  gives you a sun tan.

%p
  Ionosphere:
  %ul 
    %li about 250 miles thick
    %li reflects radio waves

.illustration
  = image_tag "/assets/weather_atmosphere/radio-signals.png"
           

%p
  During the day radio signals bounce off the lower layer of the ionosphere back to earth. At night the molecules in the lower layer spread apart and the radio signal can go higher into the atmosphere. The signal will then be reflected by a second layer. This will cause the signal to travel further on the surface of the earth. This is why at night you can hear radio stations that are further away.

%p
  Exosphere:
  %ul
    %li Van Allen’s Radiation belt found here; made up of charged particles. These particles come from the Sun and are trapped by Earth's magnetic field. As they fall through the atmosphere, they burn up giving rise to the Aurora Borealis (northern lights).






%h2 Solar Energy

%p
  Almost all of the earth’s heat comes to us from the sun. This energy is called incoming solar radiation or insolation.

%p
  Of the insolation reaching the earth from the sun, only between 15% & 20% is captured by the atmosphere. The atmosphere and the earth’s surface reflect 40% of the insolation back into space. The remaining 60% is absorbed. The rocks, soil, and the water retain most of this energy. This energy is the re-radiated back into the atmosphere. This is what heats up the atmosphere. The atmosphere actually heats up from the bottom up. This is why when you are on the top of a mountain, even though you are closer to the Sun, the temperature is cold.

%p
  Two gases -- water vapor and carbon dioxide play the most important role in this function of keeping the earth warm.

%h3 Temperature

%p
  Temperature does not measure the amount of heat energy the substance has. It is only a measure of the hotness or coldness of the substance. When something is hot its particles are moving more rapidly then when it is cool.

%p
  Temperature is measured in degrees

%p
  Fahrenheit degrees : used in weather forecasting

.illustration
  = image_tag "/assets/weather_atmosphere/freezing-point.png"

%p
  In the troposphere the atmosphere warms up from the ground upward. The higher up that you go the colder that it gets. The rate at which the temperature decreases vertically in the atmosphere is called the Normal Lapse Rate

%p
  If the atmosphere gets colder the higher you go,it is said to be Unstable; if it gets warmer it is said to be Stable

%h3 How  Heat Travel

%p
  Radiation:
  %ul 
    %li Heat traveling in waves coming from the Sun.
    %li Same effect as heat coming from a fireplace.

%p
  Conduction:
  %ul 
    %li Heat traveling from molecule to molecule. This is why the handle of a pot on the stove get hot even though it is not touching the fire.

%p
  Convection:
  %ul 
    %li warm air rising ( this is due to the air expanding and becoming less dense then the surrounding air) and cold air sinking (becoming more more dense).

%p
  The atmosphere that  is not in direct contact with the surface of the  earth becomes heated only slightly by conduction. Instead, convection currents are established that circulate through the atmosphere.

%p
  Convection is a major way the atmosphere is heated -- especially in the Tropics.

%p
  Before we discuss the convection currents for transferring heat in the atmosphere, we must understand how a cloud is made. Adiabatic refers to temperature change by expansion or compression of air in the atmosphere.

.illustration
  = image_tag "/assets/weather_atmosphere/adiabatic-cooling.png"

   
%p
  This type of cooling occurs when air rises or is pushed upward from the earth’s surface. As the air rises, it expands. This is due to the atmospheric pressure decreasing with height. The expanding of the air causes the air to cool.

%p
  If the air is moist and the air is cooled sufficiently (below the dew-point), a cloud is formed. The dew point is the temperature at which the air becomes saturated. The warmer the air the more water vapor it can hold. So as the air rises, the temperature declines causing the air to become saturated (it can hold no more water vapor). The water vapor goes from a gas to droplets. A cloud is formed. It's like seeing your breath on a cold winter day.

%p
  The Hadley Cell shows us the atmospheric circulation in the tropics. As the Sun moves north or south of the equator, the Hadley Cell follows. If you look at the drawing below, keep in mind that it migrates north and south.

%h4 Hadley Cell

.illustration
  = image_tag "/assets/weather_atmosphere/hadley-cell.png"

%h3 ICZ : Intertropical Convergence Zone

%p
  Air rising at 10° latitude is warm &amp; moist ; as it rises it cools (adiabaticly); clouds will form and it will rain: at this latitude is where we find the rain forest; air coming out of the top of the clouds reaches the top of the troposphere, it splits apart (diverges) ; some of it goes to the 30° latitude and the rest goes to the equator; at the equator the air cools converges (comes together) and descends; as it descends it is compressed and warms (this air is dry); the air going toward 30° latitude is cooled and sinks; as it sinks, it is compressed and warmed; when it strikes the Earth's surface, it diverges; the air going back toward the tropics is called the Trade Winds; air moving vertically is not a wind; sailing ships would get stuck at sea at the 30° latitude.

%p
  10° latitude is called the Doldrums
%p
  30° latitude is called the Horse Latitudes. At this latitude we find deserts from the hot dry air that is descending onto the surface of the Earth.
%p
  When the rises , it produces what is called a low pressure (L). Lows produce clouds and rain. When the air is falling, it produces what is called a high pressure (H). High pressure  areas have fair weather -- little or no clouds.

.illustration
  = image_tag "/assets/weather_atmosphere/divergence-convergence.png"

%p
  In a High (H) the air flows away from the High and turns Clockwise. In a Low (L) the air flows toward the Low and turns Counter Clockwise.
                 
%p
  The sun migrates from 23 1/2° N to 23 1/2°S latitudes.

%p The whole system follows the moving sun.

%p
  Between 23 1/2°N &amp; 23 1/2°S the earth receives more radiant energy than in any other region. The earth’s atmosphere is not heated uniformly. This is due to the Earth being a sphere and the tilt of the earth.

.illustration
  = image_tag "/assets/weather_atmosphere/suns-rays.png"

   
%p
  The Earth's surface receives the maximum solar radiation when the sun-rays are perpendicular to the surface of the Earth. The closer your area is to 90 degrees the more radiation you receive. This is what happens in the summer time. In the winter time, the Sun's rays are at a low angle and rays are spread out giving us minimum amount of radiation.


%p
  If the earth did not rotate all wind would be north-south. But because the earth does rotate, all objects moving over the earth’s surface tend to veer off to the right(clockwise) in the northern hemisphere and to the left(counterclockwise). This is called the Coriolis Effect.









%h2 Wind

%p Wind: air in motion; air moving horizontally

%p Anemometer: device to measure wind speed

%h3 Special Winds

%p Land heats up faster then water and land cools faster then water

.illustration
  = image_tag "/assets/weather_atmosphere/special-winds.png"

%p
  Cities located near large bodies of water will feel the effect of Sea and Land Breezes. During the day these cities get a nice breeze (Sea Breeze) coming off the water cooling the city. This is due to the air rising (L) over the warm land. At night the land cools much faster then the water. The air over the water now receives heat from the water and it begins to rise (L). The wind reverses. The wind now comes from the land (Land Breeze).  

%p
  Cities by large bodies of water are said to have a maritime climate. The water retains heat for a longer period of time then the land does ( this is due to the ability of the water to circulate  the heat deeper into the water). This gives the city a milder climate since the water is giving off heat as winter sets in and it keeps the city cooler in the summer with the breeze off the water. If the city is located at a high latitude, the winters may get cold enough to freeze the water. When the water freezes, the city no longer has a maritime climate. Maritime climates do not have the extremes in temperature. The temperature range is small.


%h4 Mountain Winds

.illustration
  = image_tag "/assets/weather_atmosphere/mountain-winds.png"

%p
  The United States is found in the westerly wind belt. That means the winds generally blow from west to east (you name the wind from the direction it comes). In the western part of the United States, the winds comes off the Pacific Ocean. Since it comes from over the water, it is moist. When it comes onto land it is force to rise over mountains. As it rises, it cools, clouds form, and it rains. The western side of the mountain (windward side) is very wet. The clouds take the moisture out of the air. As the air descends, it is dry and begins to warm (adiabatically). The land on the eastern side (leeward side) is dried out from this hot dry wind. Deserts are formed. 

%p
  In the Rocky Mountains hot dry winds raise the air temperature enough to melt the snow  and even cause floods. These winds are called Chinook. The same kind of wind is found in the mountains of southern California and they are called Santa Anna Wind. These winds sometimes occur at a bad time when forest fires happen. With this hot dry wind blowing on the forest fire, it makes the fire burn faster.

%h4 Monsoon

.illustration
  = image_tag "/assets/weather_atmosphere/monsoon-winds.png"

%p
  Most people associate lots of rain with a monsoon. But the name monsoon means seasonal wind. It is actually a wind reversal. The wind is reversed because you are going from a High to a Low pressure system. The winds go from Clockwise to counter clockwise. You might ask how is this possible on a seasonal bases. Go back to the Hadley Cell. Remember that the Hadley Cell migrates north or south of the equator by following the movement of the Sun. Consider the Sun being over the equator. The High pressure will be over the land. When the Sun moves toward the High, the High will also move. If the Low moves far enough toward the High, it will replace  the High giving a wind reversal. You find this happening in India and southeast Asia.





%h2 Pressure

%p
  Since the Earth is surrounded by an atmosphere that is about 100,000 miles thick, it exerts a pressure on the ground and the objects on the ground. For each square inch of surface near sea level, air pressure exerts a force of 14.7 lbs. As you rise higher in the atmosphere the air pressure decreases. 

%p
  We say that water boils at  212°F. But this is only at sea level. As you go higher in the atmosphere water boils at a lower temperature. Denver, Colorado is called the mile high city because it is 5,280 feet above sea level (exactly 1 mile). In Denver, water boils at 202°F.

%p
  An instrument which measures air pressure is called a Barometer.

.illustration
  = image_tag "/assets/weather_atmosphere/mercury-barometer.png"
            
%p
  As the air pushes down on the mercury, the mercury rises in the glass tube. You could use water rather then mercury but the tube would be much longer. (water 34 ft; mercury 3ft)  

%h3 Activity

%p
  Take an empty 2 liter pop bottle and put about 1 inch of hot water in it. Put you hand over the opening and shake vigoressly for a second or two. Take your hand off and screw the cap on tight. Place the bottle on a table and watch. It may take a few minutes, but the bottle will begin to be crushed. Have the students explain why the bottle got crushed.

%p
  When you put the hot water into the bottle, the air inside the bottle heats up and expands. The expanding air pushes some of air out of the bottle. When the cap is screwed on, no air can get in or get out of the bottle. As the bottle cools, the air inside the bottle cools and begins to shrink. Atmospheric pressure on the outside of the bottle is 14.7 lbs/sq in (this is at sea level). On the inside of the bottle, it is much less. Since the outside pressure is so great, the bottle is being pushed inward (crushed) by the air pressure. This not only works for 2 liter pop bottles but also for 55 gallon drums.

%h4 Aneroid Barometer

.illustration
  = image_tag "/assets/weather_atmosphere/aneroid-barometer.png"

%p
  As the air pressure changes, the air inside of the jar tries to get out or the outside air pushes to get in the jar. This causes the straw to move up or down. If the straw moves up, this tell you that a High pressure system is here. If the straw moves down, a Low pressure system is here. A High tells you fair weather is coming; a Low tells you poor weather (cloudy, rainy --snow if it’s too cold) is coming.










%h2 Humidity

%p The amount of water vapor in the air is referred to as its humidity.

%p
  The direct measurement of the water vapor in a certain volume of air is called the absolute humidity.

%p
  The capacity of air to hold water vapor changes with its temperature . Warm air can hold more water vapor then cold air. The amount of water vapor that a given amount of air can hold at any particular temperature is called its saturation value.

%p
  The humidity of air is often expressed by comparing its absolute humidity to its saturation value. This method of stating the moisture content of the air compared to the amount which could be contained at a given temperature is called Relative Humidity. To measure Relative Humidity we use  a Psychrometer or hair hygrometer.

%h3 Condensation

%p Condensation is when water vapor changes back to a liquid or solid.

%p Dew Point: the temperature at which a given quantity of air reaches 100%  relative humidity.

%p
  Dew: the ground temperature falls below the dew point and droplets of water condenses on grass, leaves, etc. If the dew point falls below the freezing temperature of water, water vapor will condense directly into ice in the form of Frost.







%h2 Storms

%p Storms are migratory atmospheric circulations which meteorologists call cyclones.

%p There are two types of storms:

%ol
  %li
    Extratropical : means outside the tropics (like in the US)
    Highs and Lows pressure systems

    .illustration
      = image_tag "/assets/weather_atmosphere/high-low-pressure-system.png"

  %li
    Tropical
    Hurricanes


%h3 Extratropical Storms

%p Thunderstorms: Cumulonimbus Clouds: anvil shaped

.illustration
  = image_tag "/assets/weather_atmosphere/cumulonimbus-cloud.png"

             
%p
  As warm moist air goes into the cloud, the water vapor condenses into droplets. When this happens heat is given off. This heat rises rapidly. The rising air expands cooling it. The rising air diverges at the top of the cloud rushing out of the cloud in front and back. The stronger this divergence, the stronger the thunderstorm.

%h4 Tornadoes:

%p
  Always occur with thunderstorms; Intense column of rotating air; Wind speed varies between 110 -300 mph. They are smaller the hurricanes but cause more damage.

%p Factors for formation of tornadoes:

%ol
  %li smooth ground
  %li unstable lapse rate
  %li strong upper divergence

%p The smooth ground permits the air to rush to the thunderstorm cloud. Having hills will cause the air to tumble and this makes the air loose speed. The unstable lapse rate means that its colder up high compared to the ground. Remember that warm air rises. The unstable lapse rate lets it rise fast. By having a strong divergence at the top of the cumulonimbus cloud, the air that is so rapidly rising in the cloud can exit the cloud also at a rapid rate.

%p The U.S. has more tornadoes then any other country; this is due to its shape and the location of mountains. The central plains of the US is called Tornado Alley due to large number of tornadoes occurring there. The state with the fewest tornadoes is Rhode Island. This is due to its size. 

%h3 Tropical Storms

%p
  Hurricanes: smaller then extratropical storms but more destructive; they form between 5° and 20° of latitude but will travel to higher latitudes.
                       
%p This drawing is only the right half of a hurricane.

.illustration
  = image_tag "/assets/weather_atmosphere/hurricane.png"
   

%p
  For a hurricane to form, the water temperature must be warm -- around 83°F. The warm water possess a lot of energy in the form of heat. Since the water is already warm, it doesn't take a lot of additional heat to evaporate the water. When this water vapor condenses this heat is released. A strong up draft in the cloud forms. The clouds in a hurricane are cumulonimbus clouds.  Follow the arrows in the above drawing: the diverges with some of it circulating around all the clouds and then flowing over the water evaporating more water but some of the air moves to the front of the cloud cools and descends in the center of the hurricane called the Eye. Since the air is descending it forms a High pressure area. Consequently the Eye has fair weather like all High pressure area do.

%p
  The hurricane needs water that is evaporating to sustain itself. If the hurricane moves over land, it loses the ability to evaporate water and thus will dissipate. There have been theories proposed to spay oil over the water where a hurricane is forming to prevent the evaporation of the water stopping the formation of the hurricane.

%h4 Uses of This Iformation

%p
  A lot of information has been presented here. Let's look at how we use this information to predict and understand weather. 

%p
  Understanding Highs and Lows can give you a lot of information about weather.

.illustration
  = image_tag "/assets/weather_atmosphere/highs-lows.png"
                                     
%p
  Take a look at the arrows. They indicate the air moving away from the High or the air moving toward the Low. Air moving horizontally is wind. 

.illustration
  = image_tag "/assets/weather_atmosphere/city-a.png"

%p
  When air hanges over a land mass or body of water for a period of time, it takes on the characteristics of that area. So if the wind is coming from the SW, and its been resting over a desert, the wind coming to your area will be warm and dry. The temperature in your city may rise and the probability of rain is slim.          

%p
  Watch your barometer. If the air pressure is falling, a low pressure system is moving into your area. Generally, low pressure systems bring poor weather -- cloudy and the possiblity of rain. The air is rising. Look at the leaves of trees. When you have a Low, the air is rising, you can see the underside of the leaves. When you see the leaves flipping up, be prepared for poor weather.

%p
  If you look at a weather map, you will see lines going around the Highs or Lows that close upon themself. It looks a little like a bullseye.

.illustration
  = image_tag "/assets/weather_atmosphere/bullseye.png"
                  
%p Lines close together indicate a steep slope (gradient).

%p Lines far apart indicate a gentle slope (gradient).

%p
  Air traveling down a steep slope (called a high pressure gradient) will travel fast. This means that you will have a high speed wind.

%p
  Air traveling down a gentle slope (called a low pressure gradient) will travel slow. This means that you will have a gentle wind or breeze.

%p
  You are now able to determine the direction of the wind, the characteristics of the wind, and now the speed of the wind.

%h4 Fronts

%p
  Air resting over an area takes on the charateristics of that area. This air is now called an air mass. When air masses of different characteristics meet or collide, this is what is known as a front. Strong fronts can bring violent storms.

.illustration
  = image_tag "/assets/weather_atmosphere/fronts.png"
