= stylesheet_link_tag "lesson"
= stylesheet_link_tag "igneous_rock"
-content_for :content do
  %h1 Igneous Rock

  %p
    Scientists tell us that the Earth began as a huge ball of molten material.
    As it cooled it solidified. The first that formed was Igneous Rock --
    meaning formed from fire. It took a long time for the molten material to
    cool. As it was cooling, it was still hot enough for atoms to move around.
    These atoms combined with other atoms forming compounds. These compounds
    formed minerals.

  %p A rock is an Aggregate (mixture) of minerals.

  %p There are 3 groups of rocks
  %ol
    %li Igneous
    %li Sedimentary
    %li Metamorphic

  .illustration= image_tag 'igneous_rock/rock_cycle.png'

  %p          
    After the Igneous rock formed it weathered (eroded) into fragments. The
    fragments eventually became another rock called Sedimentary (formed from a
    sediment)

  %td
    %tr
      %td Weathering
      %td worn away by wind and water
    %tr
      %td Lithification
      %td Adding pressure and a cementing agent; converts sediment into rock

  %p
    The Sedimentary rock is baked and forms Metamorphic rock. If there is too
    much heat the rock melts into magma. It will cool and form Igneous rock
    again.

  %p
    %strong Crystallization--
    cooling; sometimes under pressure.

  %p
    We end up with what we started with. We have gone around in a circle. This
    called the Rock Cycle.

  %p In this lesson we will only talk about Igneous Rock.

  %h2 Igneous Rock
  %p Harden or solidified from liquid rock

  %p Igneous rock comes from two sources --- Magma and Lava. Both are liquid rocks.
  %ul
    %li
      %strong Magma:
      liquid rock containing many dissolved gases (found inside the earth).
    %li
      %strong Lava:
      liquid rock without the gases (found on the surface of the earth)

  %p
    The magma rises up from the mantle region of the earth; the temperature
    there is 1400ºC.

  %p
    Radioactive rocks are present at the crust-mantle boundary. The
    radioactivity gives enough heat to melt the rock.

  .illustration= image_tag 'igneous_rock/earth_layers.png'

  %p
    Magma moves upward along cracks in the crust. If it overflows onto the
    earths surface, it is called lava.

  %p Texture: the size of the mineral grains in the Igneous Rock

  %p
    The magma cools slowly. The atoms come together to form compounds  and
    minerals.  A combination of minerals gives rise to different Igneous rocks.

  %p
    Since these Igneous rocks formed inside the earth, they are called
    %strong Intrusive Rocks.
    %strong Intrusive:
    igneous rock that never reaches the earth’s surface
    %ul
      %li  cools slow
      %li  minerals grow large
      %li  coarse grains
      %li Example: Granite

    .illustration.igneous
      = image_tag 'igneous_rock/granite.jpg'
      .description Grey &amp; Pink granite

  %p
    When the magma reaches the Earth's surface as Lava, it cools fast. The atoms
    don't have the time to move around forming various minerals. These
    Igneous rocks are formed on the Earth's surface and are called Extrusive
    Rocks.

    %p
      %strong Extrusive:
      magma that reaches the earth's surface
    %ul
      %li Cools fast
      %li  small grains or no grains
      %li Example: Obsidian

    .illustration.igneous
      = image_tag 'igneous_rock/obsidian1.jpg'
      = image_tag 'igneous_rock/obsidian2.jpg'
      .description
        Obsidian and Granite have the same chemical composition, but different textures.

  %p
    %strong Porphyries:
    .illustration= image_tag 'igneous_rock/porphyries.png'
    two different textures; two different grain sizes due to cooling rate.  A
    magma chamber may start to cool down and grains begin to form. Then the
    material in the chamber starts to erupt as a volcano. The lava cools fast,
    no grain, but it's mixed with grains that already formed from the magma
    chamber. The resulting rock shows characteristics of both intrusive and
    extrusive Igneous rocks. 

  %p
    %strong Essential Mineral:
    a mineral whose presence is necessary to name the rock. Example: Granite -
    must have quartz or feldspar.

  %p
    %strong Accessory Minerals:
    a mineral whose presence is not necessary to name the rock.  Example:
    Granite may contain muscovite, biotite, garnet, or other minerals but are
    not necessary to name the rock.

  %h2 Volcanic Ejecta (or, Pyroclastic Material)
  %p
    These are fragments thrown out of the volcano

  %p
    The size of the fragments vary in size: dust to volcanic bombs (very large)

  %p
    Most of this material owes its transportation to the kick given by the 
    escaping gases at the time of the eruption, and assisted by the wind.
    Such ejecta falls out of the air in order of decreasing size and density.

  %p
    Ejecta deposits decrease in thickness and in grain size away from the vent 
    of the volcano. The wind will blow the fine material miles or hundreds of 
    miles from the volcano. The heavy material can't travel as far.

  %h3 3 Type of Volcanoes
  %ol
    %li
      %strong Cinder Cone
      .illustration= image_tag 'igneous_rock/cinder_cone.png'
      %p
        This type of volcano has a thick lava due to the high amount of silica
        (quartz) in it. The lava is thrown high into the air. As it fall, it
        cools, So when it piles up, the material does not stick together.
        Because of this, this type of volcano erodes easily (except for the vent
        where the lava comes out -- it is hard).

    %li
      %strong Shield Volcano
      .illustration= image_tag 'igneous_rock/shield_volcano.png'
      %p
        The Shield Volcano is also known as the Hawaiian Volcano. The Hawaiian
        Islands are all Shield Volcanoes. The lava is called Basic lava since it
        has a low silica content that makes it fluid. You don't have violent
        eruptions with this type of lava.  Since this type of lava flows well,
        the base of these volcanoes is very large --about 300 miles.

    %li
      %strong Strato Volcano
      = image_tag 'igneous_rock/strato_volcano.png'
      %p
        High and Steep.  Made up of alternate layers of lava that was thrown up
        into the air, which solidifies before it hits the ground, and lava that
        flows onto the earth's surface. The flowing lava also solidifies but
        becomes much harder. Very explosive and dangerous.

  %h2 Types of Lava
  %ol
    %li
      %strong AA
      %ul
        %li Acid lava (high silica content)
        %li rough and jagged surface
        %li cools fast
    %li
      %strong Pahoehoe
      .illustration= link_to image_tag('igneous_rock/pahoehoe.jpg'),
                        'http://en.wikipedia.org/wiki/File:PahoehoeLava.jpg'
      %ul
        %li Basic lava (low silica content)
        %li cools slowly
        %li called 'Rope Lava'
    %li
      %strong Vesicular Lava
      %ul
        %li Contains many small holes
        %li Holes produced by escaping gases
    %li
      %strong Amygdaloidal Lava
      %ul
        %li
          The holes caused by the gas have been filled in by a secondary
          mineral, like calcite or quartz.
    %li
      %strong Pumice
      %ul
        %li An excessively cellar glassy lava Sometimes it will float in water
    %li
      %strong Obsidian
      %ul
        %li Volcanic glass Lava that has cooled fast
    %li
      %strong Pillow Lava
      .illustration
        = link_to image_tag('igneous_rock/pillow_lava_picture.jpg'),
                  'http://en.wikipedia.org/wiki/File:Nur05018.jpg'
      %ul
        %li
          Formed when the volcano erupts under water. Blobs of lava roll down
          the side of the volcano, like a log.

  %h2 Volcanic Disasters
  %ol
    %li
      %strong Tambora
      %ul
        %li Erupted in 1815
        %li Put 50 cubic miles of ejecta into the atmosphere
        %li Located in the East Indies

    %li
      %strong Krakota
      %ul
        %li Erupted in 1883
        %li Was an island of 3 cones
        %li One vent got plugged and the island blew up
        %li It produced a tidal wave that killed 30,000 people on Java
        %li Largest explosion known to occur on the earth's surface

    %li
      %strong Mt. Peele
      %ul
        %li Erupted on May 8, 1902
        %li Located on the island of Martinique in the Caribbean Sea
        %li The volcano blew out its side producing a Nuee Ardente
        %li The temperature of the cloud was 1,500ºF
        %li 40,000 people were killed in St.Pierre: 2 people lived

    %li
      %strong Mt. Vesuvius
      %ul
        %li Erupted in 79 A.D.
        %li Located in Naples, Italy
        %li Destroyed Pompeii

    %li
      %strong El Chichon
      .illustration
        = link_to image_tag('igneous_rock/el_chichon.jpg'),
                  'http://en.wikipedia.org/wiki/File:El_Chich%C3%B3n.jpg'
      %ul
        %li Erupted in April 1982
        %li Killed 2,000  people
        %li Located in Mexico
        %li 20 million tons of volcanic ejecta

    %li
      %strong Mt. Pinatubo
      .illustration
        = link_to image_tag('igneous_rock/mount_pinatubo.jpg'),
                  'http://en.wikipedia.org/wiki/File:Pinatubo91eruption_clark_air_base.jpg'
      %ul
        %li Erupted in June 1991
        %li Located in the Philippines
        %li 30 Trillion tons of volcanic ejecta
        %li Largest eruption of the century

  %h2 Nuee Ardente

  %p A super heated steam with particles of lava hanging in the steam.

  %p This cloud forms at night and quietly flows down the side of the volcano.

  .illustration
    = link_to image_tag('igneous_rock/nuee_ardente.jpg'),
              'http://en.wikipedia.org/wiki/File:Pyroclastic_flows_at_Mayon_Volcano.jpg'

  %p
    Many towns and villages are built at the foot of the volcano. They are at
    times directly in the path of the Nuee Ardente.

  %p
    The Nuee Ardente forms quietly at the vent of the volcano. Since the steam
    is embedded with particles of hot lava, the cloud becomes very dense. The
    density is high enough that the cloud can not rise but slides down the side
    of the volcano. As it moves through the village, and due to its great
    density, it pushes all of the air out of the village. The villagers
    suffocate. 

  %p The Nuee Ardente is one of the most deadly things associated with a volcano.

  %h2 Gases Released During Volcanic Explosions
  %ol
    %li
      %strong Water:
      steam that is super heated
    %li Carbon Dioxide
    %li Sulfur Dioxide and Hydrogen Sulfide
    %li Hydrocloric Acid: HCl
    %li Hydrofluoric Acid: HF
    %li Methane: natural gas

  %p Fumaroles: small vents on the side of a volcano where gases escape.

  %p Mt. Katmai: a volcano in Alaska that produces 1,250,000 tons of HCl per year.

  %h2 Bowen's Reaction Series

  %p
    In a chamber of magma all of the minerals do not crystallize out at the same
    time. The order of crystallization is called the Bowen's Reaction Series.

  .illustration
    = image_tag 'igneous_rock/bowens_reaction_series.png'

  %p
    Think of the magma chamber initially as being made up only of quartz. All
    the other minerals are dissolved in this quartz. As the chamber cools, its
    temperature is gradually going down. As the temperature decreases,
    different minerals solidify. Sometimes more then one mineral solidifies at
    a time. As each mineral is formed certain atoms are used up. Consequently,
    the remaining minerals must be formed out of different atoms giving the
    mineral a different composition. After all the minerals have formed, the
    chamber only has quartz in it which is the last to form. The first minerals
    to form do so at high temperatures. Quartz forms at the lowest temperature.
