<%= javascript_include_tag "lesson" -%>
<%= stylesheet_link_tag "lesson" -%>
<%= stylesheet_link_tag "lesson/matter" -%>
<%- content_for :content do -%>
  <h1>Matter</h1>

  <div class="foreward">
    These notes and lesson plans are designed to be used for grades 5 – 8.
  </div>

  <p>Matter: anything that occupies space and has mass</p>
  <%- @sections.zip(['selected']).each do |section, selected| -%>
    <div id="<%= section %>" class="section <%= selected %>">
      <%= render "lessons/matter/#{section}" %>
    </div>
  <%- end -%>
  <div id='disqus_thread' />
<%- end -%>

<%- content_for :toc do %>
  <ul id="section-picker">
    <%- @sections.each do |section| -%>
      <li><%= link_to section.titleize, "#", :"data-section-id" => section %></li>
    <%- end -%>
    <li><a href="#" class="showall">Show All Sections</a></li>
  </ul>
<%- end -%>
