= javascript_include_tag "lesson"
= stylesheet_link_tag "lesson"
-content_for :content do
  %h2 Rock Cycle

  %p
    When we talk about a cycle in science, we are talking about something that
    goes in a circle.

  %p
    Many of you probably consider that all rocks are the same. A rock is just a
    rock. You walk down the street and pick up a stone and it looks like all
    the other stones that you may have picked up. The stones that you pick up
    are fragments that came off a large rock. There are 3 major types of rocks.
    In this lesson, we will talk about each one individually.

  %p
    Scientist tell us that the Earth began as a huge ball of liquid rock.
    Gradually this liquid cooled and turned into solid rock. This first rock
    type is called Igneous. It means fire formed. There still is liquid rock
    deep under the surface of the Earth. Some of this liquid rock makes it to
    the Earth's surface. On the surface it is called Lava. When this liquid
    rock is under the surface, it is called Magma.

  %p
    There is a difference between Lava and Magma. Magma is liquid rock beneath
    the Earth's surface and it contains dissolved gases. Lava is liquid rock on
    the Earth's surface but it doesn't have dissolved gases. As the magma hits
    the Earth's surface, the gases that were dissolved in the liquid escape
    into the atmosphere. The more gases escaping the more violent the eruption
    of the lava as it comes out of the Earth. As long as the liquid rock is
    deep inside the Earth, the gases are not able to escape due to the
    surrounding solid part of the Earth.

  %p
    Before we go any further, we should mention that the Earth is divided into
    3 main layers. They are: Crust, Mantle, Core.

  .illustration
    = image_tag "/assets/rock_cycle/crust-mantle-core.png"


  %p The Crust is mainly solid but it does contain the water of the Earth.

  %p
    The mantle is not a solid and not a liquid. It is pliable. Almost like
    silly putty or maybe like a jello. The mantle material is able to flow
    slowly.

  %p
    The core is divided into 2 parts. The inner core is made of a solid
    metal(iron and nickel). The layer around this inner core, the outer core,
    is a liquid.

  %p
    The magma  is in large chambers beneath the Earth's surface called Magma
    Chambers. They are very hot. Like a hot air balloon, it begins to rise up
    through the crust. It moves slowly. As it moves, some of the rock above it
    will crack. The magma squirts up through these cracks. When it reaches the
    surface, if it has a lot of dissolved gases, it erupts on the surface and
    forms a volcano. If there isn't much dissolved gas, the lava flows onto the
    surface and no volcano is formed. The lava flow can cover hundreds of
    square miles and be very thick. The reason for lava flow or volcano is the
    thickness of the magma. If the magma is thick, it becomes a volcano; if the
    magma is thin, it becomes a lava flow. What makes the magma thick or thin
    is the amount of the mineral Quartz that is in the magma.

  %p
    I just mentioned the word mineral. I have been using the word rock. Is
    there a difference between a rock and a mineral ? Rocks are
    mixture(aggregates) of minerals. Think of a chocolate chip cookie. It is
    made up of cookie dough, chocolate chips and maybe some nuts. Each of these
    ingredients is like a mineral (made up of one thing). The chocolate chip
    cookie is like a rock ( made up of a bunch of other things).  All rocks are
    mixture of minerals. Sometimes it is easy to see all the ingredients that
    make up the rock but other times you can not see the ingredients.
  %p
    Since we are talking about igneous rocks, we will talk about the
    ingredients in igneous rocks. As mentioned before, magma is liquid rock
    beneath the Earths surface and lava is liquid rock on the surface of the
    Earth. Sometime the magma gets stuck beneath the surface of the Earth. When
    this happens the magma cools very slowly. Atoms in the magma move around
    and combine with other atoms. The atoms grow into minerals. These mineral
    become large enough to be seen by the eye. Several different minerals form.

  %p
    On the other hand, if the magma makes it to the surface of the Earth as
    lava, it cools fast. Since it cools fast, the atoms don't have the chance
    to move around much. They don't have the opportunity to form minerals that
    can be seen by the eye.

  %p
    Rocks that cool slow are called intrusive. You can see all the minerals
    that make them up. An example of this type of rock called granite. The two
    main ingredients in granite are feldspar and granite. There may be many
    other minerals also. But if it doesn't have feldspar and quartz, it is not
    called granite. Some of these intrusions, that formed miles beneath the
    Earth's surface, are now found on the surface of the Earth. You can see
    this if you visit Yosemite Park in California. These large intrusions that
    are now visible to us were once miles beneath the surface. The overlying
    rock was eroded away exposing the intrusions.

  %p
    Rocks that cool fast are called extrusive. You can not see the individual
    minerals with the naked eye. Lava is an extrusive rock. There are different
    kinds of lava. Pumice is a lava that has so many air pockets that it can
    float in water. Obsidian is a type of lava that cooled extremely fast.
    Obsidian looks like glass.
  %p
    (A good experiment to do at this time is to grow crystals. )

  %p
    Do the following: Boil some water. You can use different chemicals to grow
    crystals of different shapes. Good safe chemicals that give good crystals
    are: table salt, epsom salt, and alum. (you can buy alum at most drug
    stores)
  %p
    Use 400 ml beakers or equivalent. Fill the beakers 1/2 way with boiling
    water. Add a spoonful of one of the chemicals and stir until it dissolves.
    Continue doing this until no more of the chemical will dissolve. Pour the
    liquid into two other beakers. Do not pour the sediment at the bottom of
    the beaker into the two beakers. Place one beaker in the refrigerator and
    place the other beaker on the counter top. Let them set over night -- if
    you did not dissolve enough chemical into the boiling water it may take a
    couple of days. Look at the beakers daily. the one that cooled slowly
    should grow crystals large enough to be seen by the eye. Do this for all
    the chemicals. Have students view the crystals and make drawings of the
    individual crystals.


  %h2 Volcanoes

  %p There are 3 main types of volcanoes.

  %h3 Type of Volcanoes

  %h4 1. Cinder Cone

  .illustration
    = image_tag "/assets/rock_cycle/cinder-cone.png"

  %h4 2. Shield Volcano

  .illustration
    = image_tag "/assets/rock_cycle/shield-volcano.png"
    = link_to image_tag("http://farm9.staticflickr.com/8427/7518408334_4613d109ba_z.jpg"),
              "http://www.flickr.com/photos/derewecki/7518408334"
    .description Rim of Volcano showing Lava Pool
    = link_to image_tag("http://farm9.staticflickr.com/8007/7518228114_5d7614417a_z.jpg"),
              "http://www.flickr.com/photos/derewecki/7518228114"
    .description Close-up of Lava Pool
    = link_to image_tag("http://farm8.staticflickr.com/7280/7518152224_3c82236983_z.jpg"),
              "http://www.flickr.com/photos/derewecki/7518152224"
    .description Lava that flowed into the ocean

  %h4 3. Strato Volcano

  %p High and Steep

  %p
    Made up of alternate layers of lava that was thrown up into the air, which
    solidifies before it hits the ground, and lava that flows onto the earth’s
    surface. The flowing lava also solidifies but becomes much harder. Very
    explosive and dangerous.

  .illustration
    = image_tag "/assets/rock_cycle/strato-volcano.png"

  %h2 Sedimentary Rock

  %p
    Everything that we have been talking about is Igneous Rock. Remember we
    started out with the Earth being a huge ball of liquid rock. This rock
    began to cool, volcanoes formed; the volcanoes gave off gases and water
    vapor. The Earth began to develop an atmosphere. Clouds formed and rain
    fell. Water started run across the surface. Rivers formed, lakes formed,
    and the oceans formed. Once the water and the atmosphere formed, weathering
    (erosion) began.

  .illustration
    = image_tag "/assets/rock_cycle/igneous-rock.png"

  %p
    The weathering wears down the igneous rock and forms fragment (small
    pieces). These small pieces can be the size of dust, sand, gravel, or even
    boulders. These smaller pieces are what we call a Sediment.

  %p
    The sediment gets washed down stream by flowing water. It eventually gets
    carried to the oceans. The Earth began 4 1/2 billion years ago. The
    sediment piled up for millions of years on the floor of the oceans. This
    meant that the thickness of the sediment reached  thousands of feet.

  %p
    The sediment at the bottom of the pile was compressed (squashed) by the
    overlying sediment. The ocean water had dissolved minerals in it. Two of
    the minerals are quartz and calcite. These two minerals act as a cementing
    agent (glue). If there was no cementing agent, it would be like trying to
    build a sand castle with dry sand. The sediment at the bottom of this pile
    is now turned into rock --- Sedimentary Rock. The process of changing a
    sediment to sedimentary rock is called Lithification.

  .illustration
    = image_tag "/assets/rock_cycle/sedimentary-rock.png"

  %h3 Sedimentary Rock

  %p
    There are many different kinds of sediments and consequently different
    kinds of sedimentary rocks. An easy way to understand how different
    sediments are formed is to understand the process called sorting. Consider
    a flowing body of water, like a river, flowing into a large body of water,
    like an ocean. The river flows down a hill and due to its velocity (speed)
    it will pick up various size particles; from very fine grains, like found
    in dirt, to gravel size grains. As the river enters the ocean the water
    velocity slows up. Since the velocity of the water decreases, it can not
    carry all the material that it did when it was traveling faster. The
    heaviest material that the river carried is the first material to be
    deposited. The smallest and lightest material is carried the furthest out
    into the ocean.

  %h3 Sorting

  .illustration
    = image_tag "/assets/rock_cycle/sorting.png"

  %p
    This sediment will eventually be turned into sedimentary rock.
  %ol
    %li Sand is changed to the rock called Sandstone
    %li Silt is changed to the rock called Shale
    %li
      The real fine material is mixed with the remains of sea creatures
      (bones &amp; shells) to form the rock called Limestone.

  %p
    Since limestone is made up of the remains of many sea creatures, limestone
    has lots of fossils in it. All of the sedimentary rocks can contain
    fossils. Fossils are any record of past life.

  %h3 Metamorphic Rock

  %p
    Keep in mind that the sedimentary rock found at the bottom of the ocean
    goes deep into the crust of the Earth. The crust of the Earth is about 30
    miles thick. As was mentioned earlier, when we talked about igneous rock,
    there are large magma chambers rising up through the crust. These magma
    chambers are very hot. The surrounding sedimentary is heated up and baked.
    The closer the sedimentary rock is to the magma chamber, the hotter it is.
    This rock is also under tremendous pressure from the overlying rock. This
    rock is baked. It has changed. It is now called Metamorphic Rock.

  .illustration
    = image_tag "/assets/rock_cycle/metamorphic-rock.png"
  %ol
    %li Sandstone is changed to Quartzite
    %li Shale is changed to Slate
    %li Limestone is changed to Marble

  %p
    Metamorphic rocks are much harder then the sedimentary rock.

  %p
    Sometimes the metamorphic rock get too hot and under more pressure, it will
    become pliable -- like silly putty. When it is in this state, the atoms are
    able to move around. Since the atoms are moving, they bump into other atoms
    and new compounds and minerals are formed. With the higher temperatures and
    pressures the slate can change into a rock called Schist. If the
    temperature and pressure the schist is changed to Gneiss (pronounced nice).

  %p
    If the temperature and pressure continue to rise, the metamorphic rock will
    melt. It will become magma. This magma will eventually cool in place or
    make it to the Earth's surface and cool. It is now an igneous rock.

  %p
    We have gone around in a circle and are back at the beginning. This is the
    Rock Cycle.

  .illustration
    = image_tag "/assets/rock_cycle/rock-cycle.png"

  #disqus_thread
