Matter: anything that occupies space and has mass

<h2>Forms of matter</h2>

<ol>
<li><em>Element</em>
          - a substance that cannot be broken down into simpler substances by
            ordinary chemical or physical means.<br/>
		example: gold, silver, lead, oxygen, silicon, hydrogen, iron
  <span>
		The simplest form of the element is the Atom.

		One atom has all the properties of the element.
  </span>
</li>

<li><em>Mixture</em>
          - particles combined in any proportion.<br/>
		example: salt &amp; pepper mixed together, soil, rocks
  <span>
    Rocks can be broken apart into individual mineral grains.

    For example, granite is made of: feldspar, quartz, mica, garnet
  </span>
</li>

<li><em>Compounds</em>
          - two or more elements combining in a definite ratio.<br/>
		example:<br/>
			<span>H + O &rarr; H<sub>2</sub>O (water)</span>
			<span>Na + Cl &rarr; NaCl (salt)</span>
</li>
</ol>

<p>
When they combine you get a new substance with new properties. Hydrogen (H) is a
gas that is very explosive; Oxygen is a gas that is not explosive but makes
things burn faster. Water is not a gas but a liquid and it puts out fires rather
than explode. The compound has its own properties.
</p>
	Molecule - two or more kinds of atoms can exist in free form

			     NaCl       HCl 

  Some common elements and their symbol:
<table>
  <%- (1..15).each do |atomic_nr| -%>
    <%- name, abbrev = ELEMENTS_BY_ATOMIC_NR[atomic_nr] -%>
    <%= content_tag :tr, content_tag(:td, name) + content_tag(:td, abbrev) %>
  <%- end -%>
</table>

<p>
When you learn the symbols, it's important to learn them with the proper upper
and lower case.  "C" is carbon; "O" is oxygen; when combined they can form
carbon monoxide ("CO"). But if you write "O" as "o", it will look like this "Co" which
is not carbon monoxide -- it's the symbol for the element cobalt. These are
symbols, not abbreviations.
</p>
<p>
When you learn the symbols, it's important to learn them with the proper letter casing.
</p>

Atoms consists of:
<ul>
  <li>protons (p<sup>+</sup>)</li>
  <li>neutrons (n<sup>0</sup>)</li>
  <li>electrons (e<sup>-</sup>)</li>
</ul>


<p>The Positive (+) and Negative(-) signs on the protons and electrons are their charge.
Think of the charge like you would of magnets. Like charges repel and unlike
charges attract. The neutrons have no charge.</p>

<h2>Structure of an atom</h2>
There are several ways of drawing an atom:

<ol>
<li>
  <div>Bohr structure</div>
  <%= image_tag 'matter/bohr-structure.png', :class => :illustration %>
  <p>A physicist by the name of Niels Bohr drew the atom for his students that looked
like the solar system. The nucleus was in the center with the electrons
traveling around it like planets going around the sun.</p>
  <p>Some scientist criticized the drawing stating that it gave the impression that
atoms are flat like a pancake. But in fact, they are 3 dimensional.</p>
</li>
<li>
  <div>Atomic Orbitals</div>
  <p>So atoms were drawn 3 dimensionally, like this drawing:</p>
  <%= image_tag 'matter/orbitals.png', :class => :illustration  %>
<p>But there is a problem with this. Electrons travel at the speed of light
(186,00miles per second). You can't pin point the exact spot where an electron
is plus the fact that electrons move close toward the nucleus then move further
away. Since you are just beginning to learn about the atom, this type of drawing
makes it difficult to learn and understand about the various energy levels.
</p>
</li>
<li>
  <div>Electron Cloud</div>
  <div>Since the electrons move so fast. and it's difficult to say where the electrons
are at any given moment, they started to draw the atom as a cloud. </div>

<div class="illustration">
  <%= image_tag 'matter/electron-cloud.png', :class => :illustration  %>
</div>

<p>                                         
But again, since you are just beginning to learn about the atom and its parts,
this drawing makes it difficult to understand the structure of the atom.</p>

<p>Let me ask you a question. If the electrons are traveling at the speed of light,
why don't they fly off into space? What is the charge of an electron and what is
the charge of a proton in the nucleus? Can you now figure out why the electrons
don't fly off into space?</p>
</li>
</ol>

<p>
So in this section on matter, the atom will be drawn as the Bohr atom.
</p>

<div class="illustration">
  <%= image_tag 'matter/energy-levels.png', :class => :illustration  %>
</div>

<p>In the atom the protons and neutrons are located in the nucleus. The electrons
are located in rings or what are called energy levels. The energy levels are
called: 1st energy level, 2nd energy level, 3rd energy level and so forth. Each
energy level can contain only a certain number of electrons. Learning how many
electrons are in each energy level can be complicated to learn for the beginner.
So we are going to work with 21 electrons or less so we can get an understanding
of the distribution of electrons and how electrons can be transferred to other
atoms in forming compounds. To understand the distribution for a large number of
the electrons completely, you will need to take a course in chemistry.
</p>

<p>To distribute electrons, start filling the 1st energy level (fill it completely
before going to the next one), working your way to the outer ones. Fill each
completely before you go to the next energy level.</p>

Example: an atom has 11 electrons, how many are in each energy level?
                1st energy level     2
                2nd energy level    8
                3rd energy level    1

Example: an atom has 18 electrons, How many are in each energy level?
               1st energy level     2
               2nd energy level    8
               3rd energy level    8

Example: an atom has 4 electrons, how many are in each energy level?
               1st  energy level    2
               2nd energy level    2

<p>
The last energy level does not have to have the maximum number of electrons in
it.
</p>

<p>There are a few definitions that you need to know. You can use these definitions
as you would a math formula.</p>

<ul>
<li>Atomic Number is the number of protons in an atom.<br>
    Atomic number = <%= proton %></li>
<li>Atomic Mass is the number of protons plus the number of neutrons.<br>
    Atomic mass = <%= proton %> + <%= neutron %></li>
</ul>

<p>
<div>We usually write this information above and below the symbol of the element:</div>
  <%= atomic_notation "Symbol", "Atomic number", "Atomic mass" %>
<div> For example, Lithium would be:</div>
  <%= atomic_notation "Li", 3, 7 %>
</p>

<p>
In an atom that is in its natural state, the number of protons is equal to the
number of electrons.
</p>

<div class="illustration">
  <%= proton %> = <%= electron %>
</div>
                                                       
<p>
Isotope: an atom that has the same atomic number but a different atomic mass.
The number of neutrons change. This is not a normal chemical reaction.
<div>
  <%= atomic_notation "O", 8, 16 %>
  <%= atomic_notation "O", 8, 18 %>
</div>
</p>

<h2>Transferring of  electrons</h2>
<p>
Atoms may transfer electrons from one atom to another.

Valence: the number of electrons that are transferred.
  <div id="valence" class="clearfix">
    <%= atomic_notation "O", 8, 16 %>
    <div>
      Electron distribution:
      <ul>
        <li>Energy level 1: 2</li>
        <li>Energy level 2: 6</li>
      </ul>
    </div>
  </div>
  
</p>

<p>
Atoms like to have the outer most energy level complete. To do this the atom can
take in electrons from another atom, give away electrons to another atom, or
share electrons with another atom.
</p>

<p>
Oxygen has 6 electrons in the outer energy level; it needs two electrons to
complete the outer energy level. Two additional electrons added to the outer
energy level will put the maximum number of electrons in the outer energy level.
We say that it is now complete.
</p>

<p>
This means that the atom will have two additional negatives. The number of
protons and electrons are now not equal. There will be 8 <%= proton %> and 10 <%= electron %>. This atom is now an ion.
</p>

  ion -  an atom that has an electrical charge.

<p>
10 <%= electron %> + 8 <%= proton %> => 2 <%= electron %><br>
We write ions like this: O<sup>-2</sup><br>
The atom has 2 electrons too many.<br>

Atoms try to complete their outer energy level.
</p>

<h2>Combining Atoms</h2>

<div class="illustration">
  <%= image_tag 'matter/combine-atoms.png', :class => 'illustration wide' %>
</div>

<p>
Instead of drawing out the atoms and transferring the electrons from one atom to
another, there is a simpler method. Write the involved atoms with their valence
number:
</p>

<div id="cross-multiply">
  <div>
    <%= atomic_notation('H', '+1') %>
    <%= atomic_notation('O', '-2') %>
  </div>
  <div class="cross"><%= image_tag 'matter/cross.png' %></div>
  <div>
    <%= atomic_notation('H', '', '2') %>
    <%= atomic_notation('O', '', '1') %>
  </div>
</div>

<p>
And then just cross the valence number down to indicate the quantity of that
element. Subscripts of '1' can be dropped, and the formula is written as: H<sub>2</sub>O
</p>

<p>
This is a molecule of water. If we write 6 H<sub>2</sub>O, that tells us that we have 6
molecules of water. The number in front of the compound tells us how many
molecules there are.
</p>

<p>
6 H<sub>2</sub>O => 6 molecules
</p>

<h2>How many Molecules and Atoms</h2>

<p>
6 H<sub>2</sub>O => 6 molecules<br>
H = 6 * 2 => 12<br>
O = 6 * 1 => 6<br>
Total: 18 atoms and 6 molecules<br>
</p>

<p>
There are 3 states of matter:
<ul>
  <li>Solid</li>
  <li>Liquid</li>
  <li>Gas</li>
<ul>
</p>

<p>Some substances may exist in all three states. Water is a good example of this.
Water is a liquid; ice is a solid; steam is a gas.</p>

<p>Substances may change from one state to another by adding or subtracting
heat.</p>

<p>You need to understand the meaning of melting point, freezing point, and boiling
point.</p>

<ul>
  <li><strong>Melting Point</strong>: the temperature at which a solid changes
into a liquid.</li>
  <li><strong>Freezing Point</strong>: the temperature at which a liquid changes
into a solid.</li>
  <li><strong>Boiling Point</strong>: the temperature at which a liquid changes into a gas.
</li>
</ul>

<p>Notice that for each definition there is no actual temperature given. The
atmospheric pressure will directly affect the actual temperatures. Keep in mind
that the Earth is surrounded by an atmosphere that is about 100,000 miles thick.
This atmosphere weighs something. At sea level it put a pressure on you of 14.7
lbs/ sq. inch. That means, if you draw a 1 inch square on you, there is 14.7
pounds of pressure pushing on it.</p>

<p>We say that water boils at 212° F. This is only at sea level. As you go to a
higher elevation, the temperature to boil water goes down. It goes down about 2
degrees for every 1000 ft you go up in elevation. So in Denver, Colorado, which
is at 5,280 feet above sea level (mile high city), water boils at 202 degrees
Fahrenheit. At this altitude you has less air pressure pushing down on the
water.</p>

<p> If you had a vacuum chamber, by reducing the air pressure in it, you could get
the water to boil at room temperature.</p>

<table id="water">
  <thead>
    <tr><td colspan="2">Water</td></tr>
  </thead>
  <tbody>
    <tr><td>Freezing Point</td><td>Boiling Point</td></tr>
    <tr><td>0° C</td><td>100 °C</td></tr>
    <tr><td>32° F</td><td>212 °F</td></tr>
  </tbody>
</table>


<p>
These temperatures are for sea level. If you are above sea level they will
change.</p>

<p>There are a few substances that don't melt. They go directly from a solid to a
gas. This process is called sublimation. Dry ice (frozen carbon dioxide) is a
good example of this.</p>
