<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!-- Free web templates by http://www.templatesdock.com; released for free under a Creative Commons Attribution 3.0 License -->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta http-equiv="content-language" content="en" />
  <meta name="description" content="Free and open science lesson plans to use in the classroom" />
  <meta name="author" content="Template:TemplatesDock [www.templatesdock.com]; e-mail:hello@templatesdock.com" />
  <link rel="stylesheet" media="screen,projection" type="text/css" href="/assets/main.css" />
  <link rel="stylesheet" media="screen,projection" type="text/css" href="/assets/skin.css" />
  <title>openscience</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="main">
  <div id="header" class="box">
    <h1 id="logo"><a href="/">open<span>science</span></a></h1>
    <ul id="nav">
      <li><a href="/lessons">Lessons</a></li>
      <li><a href="/authors">Authors</a></li>
    </ul>
  </div>
  <div id="section" class="box">
    <div id="content">
      <%= yield :content -%>
    </div>
    <div id="toc" class="box">
      <%= yield :toc %>
    </div>
  </div>
</div>
  
<div id="footer">
  <div class="main box">
    <!-- Would you like to remove this line? Visit www.templatesdock.com/terms.php -->
    <p class="f-right t-right"><a href="http://www.templatesdock.com/">Free web templates</a> by TemplatesDock<br />Tip: <a href="http://www.intedoor.cz">koupelnovy nabytek</a></p>
    <!-- Would you like to remove this line? Visit www.templatesdock.com/terms.php -->
  </div>
</div>

</body>
</html>
